@import url('spinner.css');
@import url('bs-loading-overlay.css');

/* Main Styles */

.app-main {
  margin: 32px auto 48px;
}

.form-group {
  display: inline-block;
  margin: 6px 0px;
  width: 100%;
}

.form-group .form-control {
  width: 100%;
}

.break-all {
  word-break: break-all !important;
  white-space: normal !important;
}

.table {
  border: 1px solid #EEE;
  border-radius: 3px;
  width: 100%;
}

.table thead {
  background-color: #F0F0F0;
}

.table thead tr td {
  border-bottom: 1px solid #28a745;
  padding: 12px;
}

.table tr td {
  color: #777;
  padding: 6px 6px;
  word-break: inherit;
  white-space: nowrap;
  border-bottom: 1px solid #EEE;
}

.table tr:hover td {
  color: #555;
}

.table tr:last-child td {
  border-bottom: 0px;
}
